# Node.js dependencies
node_modules/

# Optional npm cache directory
.npm
.eslintcache

# Optional IDE configuration files
.vscode/

# Typescript build outputs
dist/
temp/

# Environment variables
.env

# MacOS files
.DS_Store